<footer>
    <div class="ui-footer-links">
        <a href="#">Informacion</a><span> . </span>
        <a href="#">Registrar Establecimiento</a><span> . </span>
        <a href="#">Condiciones</a><span> . </span>
        <a href="#">Soporte</a><span> . </span>
        <a href="#">Contactenos</a></div>

    <div class="ui-footer-copy"><strong>dtodoaqui</strong><span> - Latinoamérica - 2016</span></div>
</footer>