<div class="form-group col-md-4" id="tt-what">
    <label for="inputEmail4">¿Que buscas?</label>
    <input type="text"
           class="typeahead form-control form-control-sm"
           id="inputEmail4" placeholder="Email">
</div>
<div class="form-group col-md" id="tt-where">
    <label for="inputPassword4">¿Donde buscas?</label>
    <input type="text"
           class="typeahead form-control form-control-sm"
           id="inputPassword4" placeholder="Password">
</div>
<div class="form-group col-md-2">
    <label for="btnSearch">
        &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;
    </label>
    <button type="button"
            class="btn btn-primary btn-sm btn-block mdi mdi-search-web" id="btnSearch">Buscar</button>

</div>